{% extends "base.html" %}
{% block title %}Your password was changed{% endblock %}
{% block content %}
<h2>Password Changed</h2>

<p>Your password was changed{% if changed_by_admin %} by an administrator{% endif %}.</p>

<div class="highlight">
    <p><strong>Time:</strong> {{ timestamp }}</p>
</div>

<div class="warning">
    <p><strong>Didn't make this change?</strong></p>
    <p>If you didn't change your password, please contact support immediately
    as your account may have been compromised.</p>
</div>
{% endblock %}
